@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "FAQ";
}
<div class="text-center">
    <h1 class="display-4">StoreWeb - Frequently Asked Questions</h1>
    <p>An open source rg-adguard alternative powered by <a href="https://www.github.com/storedev/storelib">Storelib</a>.</p>
    <h3>When I install an APPX, I get an error that the product isn't owned.</h3>
    <p>Follow <a href="https://titleos.dev/bypassing-microsoft-store-licensing/">https://titleos.dev/bypassing-microsoft-store-licensing/</a> to remove MS Store DRM from the app.</p>
    <h3>Why can't I install an EAPPX I pulled?</h3>
    <p>EAPPXs are encrypted APPXs using NTFS's EFS. The decryption key for that specifc package is stored in the app's license file, thus decryption is impossible without already owning the app or obtaining the key from someone that does.</p>
</div>
