@{
    ViewData["Title"] = "Convert";
}
<script>
    jQuery(document).ready(function () {

        jQuery('.ajaxform').submit(function () {

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (response) {
                    var json = JSON.parse(response);
                    var table = document.getElementById("table");
                    table.getElementsByTagName("tbody")[0].innerHTML = table.rows[0].innerHTML;
                    for (let [key, value] of Object.entries(json)) {
                        var row = table.insertRow(table.rows.length);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        cell1.innerHTML = key;
                        cell2.innerHTML = value;
                        console.log(`${key}: ${value}`);
                    }
                    document.getElementById("table").style.display = null;
                    
                }
            });

            return false;
        });

    });
</script>
<div class="text-center">
    <h1 class="display-4">Welcome to StoreWeb - Query</h1>
    <p>An rg-adguard alternative powered by <a href="https://www.github.com/storedev/storelib">Storelib</a>.</p>
    <form action="/api/Query" method="get" class='ajaxform'>
        <label for="inputform">Type:</label><br>
        <select name="inputform">
            <option value="url">URL (link)</option>
            <option value="productid">Product Id</option>
            <option value="pfn">Package Family Name</option>
            <option value="cid">Content Id</option>
            <option value="xti">Xbox Title Id</option>
            <option value="lxpi">Legacy Xbox Product ID</option>
            <option value="lwspi">Legacy Windows Store Product Id</option>
            <option value="lwppi">Legacy Windows Phone Product Id</option>
        </select><br>
        <label for="productinfo">ID:</label><br>
        <input type="text" id="Id" name="Id"><br>
        <label for="environment">Environment:</label><br>
        <select name="environment">
            <option value="Production">Production</option>
            <option value="Int">Int</option>
            <option value="Xbox">Xbox</option>
            <option value="XboxInt">Xbox Int</option>
            <option value="Dev">Dev</option>
            <option value="OneP">One P</option>
            <option value="OnePInt">One P Int</option>
        </select><br>
        
        <label for="submit">Submit:</label><br>
        <input type="submit" value="✔" />
    </form>
    <br>
    <table style="width:100%; display:none" id="table">
        <tr>
            <th>Info Type</th>
            <th>Info</th>
    </table>
</div>
